//Common Colors
$LegoLightGray:rgb(155, 161, 157);
$LegoWhite:rgb(255, 255, 255);
$LegoGray:rgb(108, 110, 104); //DarkBluishGray
$LegoDarkBluishGray:rgb(108, 110, 104);
$LegoBlack:rgb(5, 19, 29);
$LegoTan:rgb(228, 205, 158);
$LegoReddishBrown:rgb(88, 43, 18);
$LegoRed:rgb(201, 25, 9);
$LegoYellow:rgb(242, 205, 55);
$LegoBlue:rgb(0, 86, 191);
$LegoOrange:rgb(254, 139, 24);
$LegoGreen:rgb(34, 119, 64);
$LegoDarkRed:rgb(114, 14, 15);
$LegoLime:rgb(189, 234, 11);
$LegoBrightLightOrange:rgb(248, 187, 61);
$LegoMediumLavender:rgb(172, 120, 186);
$LegoDarkTan:rgb(150, 139, 115);
$LegoAqua:rgb(179, 215, 209);


//Uncommon Colors
$LegoDarkBlue:rgb(10, 52, 99);
$LegoMediumBlue:rgb(90, 147, 219);
$LegoBrightPink:rgb(228, 173, 200);
$LegoDarkPurple:rgb(63, 54, 145);
$LegoMagenta:rgb(146, 57, 120);
$LegoDarkPink:rgb(200, 112, 160);
$LegoSandGreen:rgb(160, 188, 172);
$LegoLightAqua:rgb(173, 195, 192);
$LegoDarkOrange:rgb(169, 85, 0);
$LegoDarkGreen:#184632;


//Rare Colors
$LegoOliveGreen:rgb(155, 154, 90);
$LegoLavender:rgb(225, 213, 237);
$LegoSandBlue:rgb(96, 116, 161);
$LegoDarkAzure:rgb(7, 139, 201);
$LegoBrightGreen:rgb(75, 159, 74);
$LegoBrightLightYellow:rgb(255, 240, 58);
$LegoDarkBrown:rgb(53, 33, 0);
$LegoYellowishGreen:rgb(223, 238, 165);
$LegoBrightLightBlue:rgb(159, 195, 233);
$LegoFlesh:rgb(208, 145, 104);
$LegoLightFlesh:rgb(246, 215, 179);
$LegoDarkTurquoise:rgb(0, 143, 155);


//Special Colors
$LegoBlue-Violet:#6874CA;
$LegoBrown:#583927;
$LegoCopper:#AE7A59;
$LegoCoral:#FF698F;
$LegoDarkBlue-Violet:#2032B0;
$LegoDarkFlesh:#7C503A;
$LegoDarkGray:#6D6E5C;
$LegoEarthOrange:#FA9C1C;
$LegoFabulandBrown:#B67B50;
$LegoFabulandOrange:#EF9121;
$LegoFlatDarkGold:#B48455;
$LegoFlatSilver:#898788;
$LegoLightBlue:#B4D2E3;
$LegoLightBluishGray:#A0A5A9;
$LegoLightGreen:#C2DAB8;
$LegoLightLime:#D9E4A7;
$LegoLightOrange:#F9BA61;
$LegoLightPink:#FECCCF;
$LegoLightPurple:#CD6298;
$LegoLightSalmon:#FEBABD;
$LegoLightTurquoise:#55A5AF;
$LegoLightViolet:#C9CAE2;
$LegoLightYellow:#FBE696;
$LegoMaerskBlue:#3592C3;
$LegoMediumAzure:#36AEBF;
$LegoMediumDarkFlesh:#CC702A;
$LegoMediumDarkPink:#F785B1;
$LegoMediumGreen:#73DCA1;
$LegoMediumLavender:#AC78BA;
$LegoMediumLime:#C7D23C;
$LegoMediumOrange:#FFA70B;
$LegoMediumViolet:#93910000;
$LegoMilkyWhite:rgba(255, 255, 255, 0.80);
$LegoPink:#FC97AC;
$LegoPurple:#81007B;
$LegoReddishLilac:#8E5597;
$LegoRoyalBlue:#4C61DB;
$LegoRust:#B31004;
$LegoSalmon:#F2705E;
$LegoSandPurple:#845E86;
$LegoSandRed:#D67572;
$LegoSkyBlue:#7DBFDD;
$LegoVeryLightBluishGray:#E6E3E0;
$LegoVeryLightGray:#E6E3DA;
$LegoVeryLightOrange:#F3CF9B;
$LegoVintageBlue:#039CBD;
$LegoVintageGreen:#1E601E;
$LegoVintageRed:#CA1F08;
$LegoVintageYellow:#F3C305;
$LegoViolet:#4354A3;

$LegoTransFireYellow:#FBE89080;
$LegoTransFlameYellowishOrange:#FCB76D80;
$LegoTransLightRoyalBlue:#B4D4F780;
$LegoTransBlack:#635f5280;
$LegoTransBlueOpal:#68bcc580;
$LegoTransBrightGreen:#d9e4a780;
$LegoTransBrownOpal:#59392780;
$LegoTransClear:#fcfcfc80;
$LegoTransClearOpal:#FCFCFC80;
$LegoTransDarkBlue:#0020A080;
$LegoTransDarkPink:#DF669580;
$LegoTransGreen:#84B68D80;
$LegoTransLightBlue:#AEEFEC80;
$LegoTransLightPurple:#96709F80;
$LegoTransMediumBlue:#CFE2F780;
$LegoTransMediumReddishVioletOpal:#CE1D9B80;
$LegoTransNeonGreen:#F8F18480;
$LegoTransNeonOrange:#FF800D80;
$LegoTransNeonYellow:#DAB00080;
$LegoTransOrange:#F08F1C;
$LegoTransPink:#E4ADC880;
$LegoTransPurple:#A5A5CB80;
$LegoTransRed:#C91A0980;
$LegoTransVeryLtBlue:#C1DFF080;
$LegoTransYellow:#F5CD2F80;

$LegoChromeAntiqueBrass:#645A4C;
$LegoChromeBlack:#1B2A34;
$LegoChromeBlue:#6C96BF;
$LegoChromeGold:#BBA53D;
$LegoChromeGreen:#3CB371;
$LegoChromePink:#AA4D8E;
$LegoChromeSilver:#E0E0E0;

$LegoMetalBlue:#7988A1;
$LegoMetallicGold:#DBAC34;
$LegoMetallicGreen:#899B5F;
$LegoMetallicSilver:#A5A9B4;

$LegoPastelBlue:#5AC4DA;
$LegoPearlDarkGray:#575857;
$LegoPearlGold:#AA7F2E;
$LegoPearlLightGold:#DCBC81;
$LegoPearlLightGray:#9CA3A8;
$LegoPearlVeryLightGray:#ABADAC;
$LegoPearlWhite:#F2F3F2;

$LegoGlowInDarkOpaque:#D4D5C9;
$LegoGlowinDarkWhite:#D9D9D9;

$LegoGlowInDarkTrans:#BDC6AD80;
$LegoGlitterTrans-Clear:#FFFFFF80;
$LegoGlitterTrans-DarkPink:#DF669580;
$LegoGlitterTrans-LightBlue:#68BCC580;
$LegoGlitterTrans-NeonGreen:#C0F50080;
$LegoGlitterTrans-Orange:#F08F1C80;
$LegoGlitterTrans-Purple:#A5A5CB80;





















































































































































































































































































































































































































































































































































































