//Common Colors
$LegoLGray:hsl(140, 3%, 62%);
$LegoWhite:rgb(255, 255, 255);
$LegoDBGray:hsl(80, 3%, 42%);
$LegoBlack:hsl(205, 71%, 7%);
$LegoTan:rgb(228, 205, 158);
$LegoRBrown:rgb(88, 43, 18);
$LegoRed:rgb(201, 25, 9);
$LegoYellow:rgb(242, 205, 55);
$LegoBlue:rgb(0, 86, 191);
$LegoOrange:rgb(254, 139, 24);
$LegoGreen:rgb(34, 119, 64);
$LegoDRed:rgb(114, 14, 15);
$LegoLime:rgb(189, 234, 11);
$LegoBLOrange:rgb(248, 187, 61);
$LegoMLavender:rgb(172, 120, 186);
$LegoDTan:rgb(150, 139, 115);
$LegoAqua:rgb(179, 215, 209);

$LegoGray:hsl(60, 2%, 70%);
$LegoDGray:hsl(42, 5%, 40%);

//Uncommon Colors
$LegoDBlue:rgb(10, 52, 99);
$LegoMBlue:rgb(90, 147, 219);
$LegoBPink:rgb(228, 173, 200);
$LegoDPurple:rgb(63, 54, 145);
$LegoMagenta:rgb(146, 57, 120);
$LegoDPink:rgb(200, 112, 160);
$LegoSGreen:rgb(160, 188, 172);
$LegoLAqua:rgb(173, 195, 192);
$LegoDOrange:rgb(169, 85, 0);
$LegoDGreen:#184632;


//Rare Colors
$LegoOGreen:rgb(155, 154, 90);
$LegoLavender:rgb(225, 213, 237);
$LegoSBlue:rgb(96, 116, 161);
$LegoDAzure:rgb(7, 139, 201);
$LegoBGreen:rgb(75, 159, 74);
$LegoBLYellow:rgb(255, 240, 58);
$LegoDBrown:rgb(53, 33, 0);
$LegoYGreen:rgb(223, 238, 165);
$LegoBLBlue:rgb(159, 195, 233);
$LegoFlesh:rgb(208, 145, 104);
$LegoLFlesh:rgb(246, 215, 179);
$LegoDTurquoise:rgb(0, 143, 155);


//Special Colors
$LegoBlueViolet:#6874CA;
$LegoBrown:#583927;
$LegoCopper:#AE7A59;
$LegoCoral:#FF698F;
$LegoDBlueViolet:#2032B0;
$LegoDFlesh:#7C503A;
$LegoEOrange:#FA9C1C;
$LegoFBrown:#B67B50;
$LegoFOrange:#EF9121;
$LegoFDGold:#B48455;
$LegoFSilver:#898788;
$LegoLBlue:#B4D2E3;
$LegoLBGray:#A0A5A9;
$LegoLGreen:#C2DAB8;
$LegoLLime:#D9E4A7;
$LegoLOrange:#F9BA61;
$LegoLPink:#FECCCF;
$LegoLPurple:#CD6298;
$LegoLSalmon:#FEBABD;
$LegoLTurquoise:#55A5AF;
$LegoLViolet:#C9CAE2;
$LegoLYellow:#FBE696;
$LegoMBlue:#3592C3;
$LegoMAzure:#36AEBF;
$LegoMDFlesh:#CC702A;
$LegoMDarkPink:#F785B1;
$LegoMGreen:#73DCA1;
$LegoMLavender:#AC78BA;
$LegoMLime:#C7D23C;
$LegoMOrange:#FFA70B;
$LegoMViolet:#93910000;
$LegoMilkyWhite:rgba(255, 255, 255, 0.80);
$LegoPink:#FC97AC;
$LegoPurple:#81007B;
$LegoRLilac:#8E5597;
$LegoRoyalBlue:#4C61DB;
$LegoRust:#B31004;
$LegoSalmon:#F2705E;
$LegoSandPurple:#845E86;
$LegoSandRed:#D67572;
$LegoSkyBlue:#7DBFDD;
$LegoVLBGray:#E6E3E0;
$LegoVLGray:#E6E3DA;
$LegoVLOrange:#F3CF9B;
$LegoViolet:#4354A3;

$LegoVintageBlue:#039CBD;
$LegoVintageGreen:#1E601E;
$LegoVintageRed:#CA1F08;
$LegoVintageYellow:#F3C305;


$LegoBrandRed: #e3000b;
$LegoBrandYellow: #ffed00;
$LegoDBlack:hsl(205, 71%, 3%);
$LegoLBlack:hsl(206, 71%, 11%);





















































































































































































































































































































































































































































































































































































